openapi: 3.0.0
info:
  title: Payment JS
  version: 2.0.0
  description: Endpoints used with Payment.js
servers:
  - url: 'https://cert.api.firstdata.com/paymentjs/v2'
    description: UAT
  - url: 'https://cert.api.firstdata.com/paymentjs/v2'
    description: Production
paths:
  merchant/authorize-session:
    parameters: []
    post:
      summary: ''
      operationId: postmerchant-authorize-session
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  publicKeyBase64:
                    type: string
                    description: base64-encoded public rsa key used by client library
                    example: TWF0dCB3YXMgaGVyZQ==
              examples:
                Example:
                  value:
                    publicKeyBase64: TWF0dCB3YXMgaGVyZQ==
          headers:
            Client-Token:
              schema:
                type: string
              description: access/session id used by client library
            Nonce:
              schema:
                type: string
              description: should match "Nonce" header passed in request
        '400':
          description: Request failed structural validation (missing one or more expected fields/headers)
        '401':
          description: 'Authentication error, may include payload with "error" field'
      description: |-
        Used to authorize a session, this includes the gateway, api key and store ID

        Support for non-USD Currency
        Pass an ISO 4217 currency code in field "currency" in the authorize session payload to perform a zero-dollar authorization under a currency other than "USD".

        Note: Only applicable to Payeezy and CardConnect

        Note: Please [click here](https://developer.payeezy.com/faqs/what-currencies-does-payeezy-support) for the list of ISO 4217 currencies supported by Payeezy

        Note: Please [click here](https://developer.cardconnect.com/cardconnect-api#currency-code-responses) for the list of ISO 4217 currencies supported by CardConnect
      parameters:
        - schema:
            type: string
            example: application/json
          in: header
          name: Content-Type
          description: Always application/json
        - schema:
            type: string
          in: header
          name: Message-Signature
          description: 'Your message signature, please see the documentation on how to generate this'
        - schema:
            type: string
          in: header
          name: Nonce
          description: A random value
        - schema:
            type: string
          in: header
          name: Timestamp
          description: 'A timestamp, in milliseconds since epoch'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/IPGPayload'
                - $ref: '#/components/schemas/PayeezyPayload'
                - $ref: '#/components/schemas/BluepayPayload'
                - $ref: '#/components/schemas/CardConnectPayload'
            examples:
              IPG:
                value:
                  gateway: IPG
                  apiKey: ''
                  apiSecret: ''
                  storeId: ''
                  zeroDollarAuth: false
              Payeezy:
                value:
                  gateway: PAYEEZY
                  apiKey: ''
                  apiSecret: ''
                  authToken: ''
                  transarmorToken: ''
                  currency: USD
                  zeroDollarAuth: false
              Bluepay:
                value:
                  gateway: BLUEPAY
                  accountId: ''
                  secretKey: ''
                  zeroDollarAuth: false
              CardConnect:
                value:
                  gateway: CARD_CONNECT
                  merchantId: ''
                  apiUserAndPass: ''
                  currency: USD
                  zeroDollarAuth: false
        description: Payload
components:
  schemas:
    IPGPayload:
      title: IPG Payload
      type: object
      description: The default payload for IPG
      x-examples:
        Example:
          gateway: IPG
          apiKey: 0imfnc8mVLWwsAawjYr4Rx!
          apiSecret: ',g*fp>CwE*eGNYSk,<W6TB>8vXs,ha'
          storeId: '123'
          zerDollarAuth: true
      properties:
        gateway:
          type: string
          example: IPG
        apiKey:
          type: string
          example: 0imfnc8mVLWwsAawjYr4Rx
        apiSecret:
          type: string
          example: ',g*fp>CwE*eGNYSk,<W6TB>8vXs,ha'
        storeId:
          type: string
          example: '123'
        zerDollarAuth:
          type: boolean
      required:
        - gateway
        - apiKey
        - apiSecret
        - zerDollarAuth
    PayeezyPayload:
      title: Payeezy Payload
      type: object
      description: |-
        The default payload for Payeezy.

        Note: Payeezy utilizes the apiKey & apiSecret within the APIs tab of your developer.payeezy.com account.

        Note: "currency" is optional and defaults to "USD"
      x-examples:
        Example:
          gateway: PAYEEZY
          apiKey: 0imfnc8mVLWwsAawjYr4Rx
          apiSecret: ',g*fp>CwE*eGNYSk,<W6TB>8vXs,ha'
          transarmorToken: string
          zerDollarAuth: true
          currency: USD
          authToken: string
      properties:
        gateway:
          type: string
          example: PAYEEZY
        apiKey:
          type: string
          example: 0imfnc8mVLWwsAawjYr4Rx
        apiSecret:
          type: string
          example: ',g*fp>CwE*eGNYSk,<W6TB>8vXs,ha'
        transarmorToken:
          type: string
        zerDollarAuth:
          type: boolean
        currency:
          type: string
          example: USD
        authToken:
          type: string
      required:
        - gateway
        - apiKey
        - apiSecret
        - transarmorToken
        - zerDollarAuth
        - authToken
    BluepayPayload:
      title: Bluepay Payload
      type: object
      description: The default payload for Bluepay
      x-examples:
        Example:
          gateway: BLUEPAY
          accountId: '123'
          secretKey: ',g*fp>CwE*eGNYSk,<W6TB>8vXs,ha'
          zerDollarAuth: true
      properties:
        gateway:
          type: string
          example: BLUEPAY
        accountId:
          type: string
          example: '123'
        secretKey:
          type: string
          example: ',g*fp>CwE*eGNYSk,<W6TB>8vXs,ha'
        zerDollarAuth:
          type: boolean
      required:
        - gateway
        - accountId
        - secretKey
        - zerDollarAuth
    CardConnectPayload:
      title: CardConnect Payload
      type: object
      description: |-
        The default payload for CardConnect

        Note: Uses CardPointe API when zeroDollarAuth is true (recommended)

        Note: Uses CardSecure API when zeroDollarAuth is false

        Note: "currency" only affects CardPointe, is optional, and defaults to "USD"
      x-examples:
        Example:
          gateway: CARD_CONNECT
          merchantId: '1234'
          apiUserAndPass: string
          currency: USD
          zerDollarAuth: true
      properties:
        gateway:
          type: string
          example: CARD_CONNECT
        merchantId:
          type: string
          example: '1234'
        apiUserAndPass:
          type: string
        currency:
          type: string
          example: USD
        zerDollarAuth:
          type: boolean
      required:
        - gateway
        - merchantId
        - apiUserAndPass
        - zerDollarAuth
    WebhookPayload:
      description: |
        The default payload of a webhook
      type: object
      title: Webhook Payload
      x-examples:
        Example:
          authCode: ABCABC
          card:
            bin: '424242'
            brand: visa
            exp:
              month: '02'
              year: '2022'
            last4: '4242'
            name: Blah Blah
            token: '123123123123'
            masked: XXXXXXXXXXXX4242
            address1: Apartment 123
            address2: 123 Main Street
            city: New York
            region: NY
            country: US
            postalCode: '11375'
            company: My Company
          gatewayRefId: '123123123123'
          error: false
          zeroDollarAuth:
            cvv2: MATCHED
            avs: 'Y'
      properties:
        authCode:
          type: string
          minLength: 1
        card:
          type: object
          required:
            - bin
            - brand
            - exp
            - last4
            - name
            - token
            - masked
            - address1
            - address2
            - city
            - region
            - country
            - postalCode
            - company
          properties:
            bin:
              type: string
              minLength: 1
            brand:
              type: string
              minLength: 1
              enum:
                - visa
                - mastercard
                - american-express
                - diners-club
                - discover
                - elo
                - jcb
                - maestro
                - mir
                - unionpay
                - 'null'
            exp:
              type: object
              required:
                - month
                - year
              properties:
                month:
                  type: string
                  minLength: 1
                  example: '02'
                year:
                  type: string
                  minLength: 1
                  example: '22'
            last4:
              type: string
              minLength: 1
              example: '5432'
            name:
              type: string
              minLength: 1
              example: Matt Lockyer
            token:
              type: string
              minLength: 1
            masked:
              type: string
              minLength: 1
            address1:
              type: string
              minLength: 1
            address2:
              type: string
              minLength: 1
            city:
              type: string
              minLength: 1
            region:
              type: string
              minLength: 1
            country:
              type: string
              minLength: 1
            postalCode:
              type: string
              minLength: 1
            company:
              type: string
              minLength: 1
        gatewayRefId:
          type: string
          minLength: 1
        error:
          type: boolean
        zeroDollarAuth:
          type: object
          required:
            - cvv2
            - avs
          properties:
            cvv2:
              type: string
              minLength: 1
              enum:
                - MATCHED
                - NOT_MATCHED
                - NOT_PROCESSED
                - NOT_PRESENT
                - NOT_CERTIFIED
                - NO_RESPONSE
            avs:
              type: string
              minLength: 1
              enum:
                - 'Y'
                - 'N'
      required:
        - authCode
        - card
        - gatewayRefId
        - error
        - zeroDollarAuth
    WebhookErrorPayload:
      description: |
        The default payload for a webhook
      type: object
      title: Webhook Error Payload
      properties:
        error:
          type: boolean
        reason:
          type: string
          minLength: 1
          enum:
            - DECRYPTION_ERROR
            - BAD_REQUEST
            - INVALID_GATEWAY_CREDENTIALS
            - JSON_ERROR
            - KEY_NOT_FOUND
            - MISSING_CVV
            - NETWORK
            - REJECTED
            - SESSION_CONSUMED
            - SESSION_INSERT
            - SESSION_INVALID
            - UNEXPECTED_RESPONSE
            - UNKNOWN
          description: |-
            Error code descriptions are listed below:

            "BAD_REQUEST": the request body is missing or incorrect for endpoint
            "DECRYPTION_ERROR": failed to decrypt card data
            "INVALID_GATEWAY_CREDENTIALS": gateway credentials failed
            "JSON_ERROR": the request body is either not valid JSON or larger than 2kb
            "KEY_NOT_FOUND": no available key found
            "MISSING_CVV": zero dollar auth requires cvv in form data
            "NETWORK": gateway connection error
            "REJECTED": the request was rejected by the gateway
            "SESSION_CONSUMED": session completed in another request
            "SESSION_INSERT": failed to store session data
            "SESSION_INVALID": failed to match clientToken with valid record; can occur during deployment
            "UNEXPECTED_RESPONSE": the gateway did not respond with the expected data
            "UNKNOWN": unknown error
        gatewayRefId:
          type: string
          minLength: 1
        gatewayReason:
          type: string
          minLength: 1
        zeroDollarAuth:
          type: object
          required:
            - cvv2
            - avs
          properties:
            cvv2:
              type: string
              minLength: 1
              enum:
                - MATCHED
                - NOT_MATCHED
                - NOT_PROCESSED
                - NOT_PRESENT
                - NOT_CERTIFIED
                - NO_RESPONSE
            avs:
              type: string
              minLength: 1
      required:
        - error
        - reason
        - gatewayRefId
        - gatewayReason
        - zeroDollarAuth
  securitySchemes:
    Api-Key:
      name: Api-Key
      type: apiKey
      in: header
      description: 'This can be retrieved from https://developer.firstdata.eu/'
security:
  - Api-Key: []
