openapi: 3.0.2
info:
  version: 2.0.0
  title: API Reference
  description: The documentation here is designed to provide all of the technical guidance required to consume and integrate with our APIs for payment processing.
servers:
  - url: 'https://prod.emea.api.fiservapps.com/ipp/payments-gateway/v2'
    description: Production
  - url: 'https://prod.emea.api.fiservapps.com/sandbox/ipp/payments-gateway/v2'
    description: Sandbox
paths:
  /payments:
    post:
      x-proxy-name: Create Primary Transaction
      summary: Generate a primary transaction
      description: 'Use this to originate a financial transaction like a sale, preauthorization, or credit.'
      operationId: submitPrimaryTransaction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PaymentCardCreditTransaction'
                - $ref: '#/components/schemas/PaymentCardForcedTicketTransaction'
                - $ref: '#/components/schemas/PaymentCardSaleTransaction'
                - $ref: '#/components/schemas/PaymentCardPreAuthTransaction'
                - $ref: '#/components/schemas/PaymentCardPayerAuthTransaction'
                - $ref: '#/components/schemas/PaymentTokenCreditTransaction'
                - $ref: '#/components/schemas/PaymentTokenPreAuthTransaction'
                - $ref: '#/components/schemas/PaymentTokenSaleTransaction'
                - $ref: '#/components/schemas/PaypalCreditTransaction'
                - $ref: '#/components/schemas/SepaSaleTransaction'
                - $ref: '#/components/schemas/WalletSaleTransaction'
                - $ref: '#/components/schemas/WalletPreAuthTransaction'
                - $ref: '#/components/schemas/PaymentDeviceSaleTransaction'
                - $ref: '#/components/schemas/PaymentDevicePreAuthTransaction'
                - $ref: '#/components/schemas/PaymentDeviceCreditTransaction'
            examples:
              PaymentCardCreditTransaction:
                value:
                  transactionAmount:
                    total: '12.04'
                    currency: USD
                  requestType: PaymentCardCreditTransaction
                  paymentMethod:
                    paymentCard:
                      number: '5424180279791732'
                      securityCode: '977'
                      expiryDate:
                        month: '12'
                        year: '24'
                  currencyConversion:
                    conversionType: Dcc
                    inquiryRateId: '123456'
              PaymentCardForcedTicketTransaction:
                transactionAmount:
                  total: '12.04'
                  currency: USD
                requestType: PaymentCardForcedTicketTransaction
                paymentMethod:
                  paymentCard:
                    number: '5424180279791732'
                    securityCode: '977'
                    expiryDate:
                      month: '12'
                      year: '24'
                referenceNumber: '123455'
              PaymentCardSaleTransaction:
                transactionAmount:
                  total: '12.04'
                  currency: USD
                requestType: PaymentCardSaleTransaction
                paymentMethod:
                  paymentCard:
                    number: '5424180279791732'
                    securityCode: '977'
                    expiryDate:
                      month: '12'
                      year: '24'
                storedCredentials:
                  sequence: FIRST
                  scheduled: true
              PaymentCardPreAuthTransaction:
                transactionAmount:
                  total: '12.04'
                  currency: USD
                requestType: PaymentCardPreAuthTransaction
                paymentMethod:
                  paymentCard:
                    number: '5424180279791732'
                    securityCode: '977'
                    expiryDate:
                      month: '12'
                      year: '24'
                splitShipment:
                  totalCount: 1
                  finalShipment: true
              PaymentCardPayerAuthTransaction:
                transactionAmount:
                  total: '12.04'
                  currency: USD
                requestType: PaymentCardPayerAuthTransaction
                paymentMethod:
                  paymentCard:
                    number: '5424180279791732'
                    securityCode: '977'
                    expiryDate:
                      month: '12'
                      year: '24'
              PaymentTokenCreditTransaction:
                transactionAmount:
                  total: '12.04'
                  currency: USD
                requestType: PaymentTokenCreditTransaction
                paymentMethod:
                  paymentToken:
                    value: '1235325235236'
                    function: DEBIT
                    securityCode: '977'
              PaymentTokenPreAuthTransaction:
                transactionAmount:
                  total: '12.04'
                  currency: USD
                requestType: PaymentTokenPreAuthTransaction
                paymentMethod:
                  paymentToken:
                    value: '1235325235236'
                    function: DEBIT
                    securityCode: '977'
                splitShipment:
                  totalCount: 1
                  finalShipment: true
              PaymentTokenSaleTransaction:
                transactionAmount:
                  total: '12.04'
                  currency: USD
                requestType: PaymentTokenSaleTransaction
                paymentMethod:
                  paymentToken:
                    value: '1235325235236'
                    function: DEBIT
                    securityCode: '977'
                storedCredentials:
                  sequence: FIRST
                  scheduled: true
              PaypalCreditTransaction:
                transactionAmount:
                  total: '12.04'
                  currency: USD
                requestType: PaypalCreditTransaction
                paymentMethod:
                  payPal:
                    recipientEmail: John@tester.com
              SepaSaleTransaction:
                transactionAmount:
                  total: '23.00'
                  currency: EUR
                requestType: SepaSaleTransaction
                sepa:
                  iban: DE34500100600032121604
                  name: John Doe
                  country: DEU
                  email: john.doe@test.com
                  mandate:
                    reference: 3RBQVEE
                    url: 'https://www.firstdata.com'
                    signatureDate: '2017-07-15'
                    type: SINGLE
              EncryptedApplePayWalletPaymentMethod:
                requestType: WalletSaleTransaction
                walletPaymentMethod:
                  walletType: EncryptedApplePayWalletPaymentMethod
                  encryptedApplePay:
                    data: NdCmVw5nMjQq746HYc/VbiZcQZ/zFzeEcM1wVMPruEG4/C/EFhobSkwB5JZJU+t6JuDVXUBiRYuOOC8FTYd+qIm6ckktid9aiGh0f2NDP0INSr59QXmr389RonyUfRYKnBmwsh5UqtI7Iz0AmMtl1PWMdxcCewtjuffs79ahTnFgXsRN+ynuhyDfbdRanlTnYKGoTeVh9eJfheJ1wquO+jiGj+npJ/Oh9bAdlw7iEHrYO2aUkgaMyXZ3foXRAJeimQVQS1y8lU1PPq62zpPrFzidbnnU5fK25pvGFjOdmLsBELZPk5thQEkSaA9p1LSKzWSesHhi0BxZaFPXSA6ANXvYIU2AT0lG+0O0w1URA5Sinyj3YDZVqjuir6rzNN9bB2U2nTQnKMbuGLMS20K8fUKZN/YLJh+AtE6J69+VVSU95mE1nOb8hyabz6E5RmnC5Ze2k6F/hQ75ig==
                    header:
                      applicationDataHash: 94ee059335e587e501cc4bf90613e0814f00a7b08bc7c648fd865a2af6a22cc2
                      ephemeralPublicKey: MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEiaU1SbkYTJy/j5L1t51vtGDh4KlNl5MFPWzo/C8r0WcrktWriz5pdRaDVUDvU++KlDu2iuQsd2xSNKJlFscbDQ==
                      publicKeyHash: YmSWN7lj4+A6fVJVPicP8TgS7gI7ougD8rEWB5LXtMM=
                      transactionId: '31323334353637'
                    signature: MIAGCSqGSIb3DQEHAqCAMIACAQExDzANBglghkgBZQMEAgEFADCABgkqhkiG9w0BBwEAAKCAMIIB0zCCAXkCAQEwCQYHKoZIzj0EATB2MQswCQYDVQQGEwJVUzELMAkGA1UECAwCTkoxFDASBgNVBAcMC0plcnNleSBDaXR5MRMwEQYDVQQKDApGaXJzdCBEYXRhMRIwEAYDVQQLDAlGaXJzdCBBUEkxGzAZBgNVBAMMEmQxZHZ0bDEwMDAuMWRjLmNvbTAeFw0xNTA3MjMxNjQxMDNaFw0xOTA3MjIxNjQxMDNaMHYxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJOSjEUMBIGA1UEBwwLSmVyc2V5IENpdHkxEzARBgNVBAoMCkZpcnN0IERhdGExEjAQBgNVBAsMCUZpcnN0IEFQSTEbMBkGA1UEAwwSZDFkdnRsMTAwMC4xZGMuY29tMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAErnHhPM18HFbOomJMUiLiPL7nrJuWvfPy0Gg3xsX3m8q0oWhTs1QcQDTT+TR3yh4sDRPqXnsTUwcvbrCOzdUEeTAJBgcqhkjOPQQBA0kAMEYCIQDrC1z2JTx1jZPvllpnkxPEzBGk9BhTCkEB58j/Cv+sXQIhAKGongoz++3tJroo1GxnwvzK/Qmc4P1K2lHoh9biZeNhAAAxggFUMIIBUAIBATB7MHYxCzAJBgNVBAYTAlVTMQswCQYDVQQIDAJOSjEUMBIGA1UEBwwLSmVyc2V5IENpdHkxEzARBgNVBAoMCkZpcnN0IERhdGExEjAQBgNVBAsMCUZpcnN0IEFQSTEbMBkGA1UEAwwSZDFkdnRsMTAwMC4xZGMuY29tAgEBMA0GCWCGSAFlAwQCAQUAoGkwGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTUwODEyMTczMTAwWjAvBgkqhkiG9w0BCQQxIgQgJyjKLiGQo3I1ZbfHSmF2XCZ8dNlcZyohziuXO48EKwgwCgYIKoZIzj0EAwIESDBGAiEAznKDYEz9MsC+r1g6e4LR1DTaQOl+X2rVNkWnKDpc1EQCIQCmK48ChHoz4HWnUnW5XqaGWOUXKHQvUgeqFr/jgBUzegAAAAAAAA==
                    applicationData: VEVTVA==
                    merchantId: order-1
                    version: EC_v1
                paymentFacilitator:
                  externalMerchantId: '12345'
                  paymentFacilitatorId: '123123123'
                  saleOrganizationId: '123124214'
                  name: First Reseller
                  subMerchantData:
                    mcc: '1432'
                    legalName: First Merchant
                    timezone: Europe/London
                    address:
                      address1: 123 Main St.
                      city: Sandy Springs
                      region: Georgia
                      postalCode: '30303'
                      country: USA
                    document:
                      type: NATIONAL_IDENTITY
                      number: '12345666544'
                    merchantId: '12435325235'
                WalletPreAuthTransaction:
                  requestType: WalletPreAuthTransaction
                  walletPaymentMethod:
                    walletType: EncryptedGooglePayWalletPaymentMethod
                    encryptedGooglePay:
                      data:
                        encryptedMessage: 8nxjB9mr2tWZeDRQRcGN91UUnb7AioGp3oRo8kmQ6lyvJZiqD7PJlbRCYElNqUmr6Z8zK7b2gO9MKOjpnTCqH0qAe2vuIlwNXB60M2Lh7Qfl3bVgWzwF/FfFcenVW381hoItYi8AjWnWoydz1XMTEv2qhqUG03mEnRXdMyDyk6KKZXoW8Qc0p1F1thbxxu8weU8CZbZsWGGTjB42cilIqLVbribcOAG8Oas1AcgefFsu2hwp4gdSuOg7wmeSV7XKsGQzzVy85qtjuqET2XYzJE3K/Wh9QKkhu5P9Ms5s1+Smr2IjRyidqQa88SxQplrVoo9+PvT0bxFcMspBmO3pLkuaZSUBy++dL2fefcxNJvGCFfFhdxW9DojuuQxgpeu7RAQUsGLyFmr/4ZfBxt882xTmpX9MRx5CAudl9qUgBfKdwWwMX35qSbDTm1ju5XXzNh94VebjD3bB9Zj8qgbmUOr/+6OQLhoFJyBCXgx3EEH8hBwNVFrss/SLwQvFhZh62eO6lOtnmbOtP1yTDDVqGDBfai5SwAmM+KTcc9SGv/xDC+cWe8ck+aCBkG4HoRPapUVMZ3JIgV7yzTsVLJE\\u003d\\
                        ephemeralPublicKey: BGH3fRFdoAobYrAlxnZOCYzkH84Cna92IZxtgsU36CMDaqSaDYb9/LsY8qw+vMtlBnwsUg/YVMOeeKp+qDkOWb4\\u003d\\
                        tag: nvmOUNpnOTZULLhMxT/hWCHzH/4f7gGpfvQgwl3p8ng\\u003d\\
                      signature: MEUCIFWTRWUZAOM5nfJC79FtJm56olnbwG4H5uWWxAUWAquiAiEA24j/BcOroeISsdJzYsyoVi8wzu4tnmKw+jdsGfuvPko=
                      version: ECv1
                  splitShipment:
                    totalCount: 1
                    finalShipment: true
              PaymentDeviceSaleTransaction:
                value:
                  requestType: PaymentDeviceSaleTransaction
                  transactionAmount:
                    total: '12.04'
                    currency: USD
                  paymentMethod:
                    paymentDevice:
                      deviceType: SWIPE
                      data: 02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03
                      securityCode: '977'
                      cardholderName: First Cardholder
                      cardFunction: CREDIT
                      brand: VISA
              PaymentDevicePreAuthTransaction:
                value:
                  requestType: PaymentDevicePreAuthTransaction
                  transactionAmount:
                    total: '12.04'
                    currency: USD
                  paymentMethod:
                    paymentDevice:
                      deviceType: SWIPE
                      data: 02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03
                      securityCode: '977'
                      cardholderName: First Cardholder
                      cardFunction: CREDIT
                      brand: VISA
              PaymentDeviceCreditTransaction:
                value:
                  requestType: PaymentDeviceCreditTransaction
                  transactionAmount:
                    total: '12.04'
                    currency: USD
                  paymentMethod:
                    paymentDevice:
                      deviceType: SWIPE
                      data: 02A600C0170018008292;5424********1732=1810?*B73CD8C26233D4FFEC5500ED394439D97DDA5F530942D21D0000000000000000000000000000000000000000363434543035353734326299492410027300000260DC03
                      securityCode: '977'
                      cardholderName: First Cardholder
                      cardFunction: CREDIT
                      brand: VISA
        description: ''
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0c80a3403e2c2def0-d-ea-28805-6810951-2
                    ipgTransactionId: '838916029301'
                    transactionType: SALE
                    transactionTime: 1518811817
                    approvedAmount:
                      total: 10.24
                      currency: USD
                    transactionStatus: APPROVED
                    schemeTransactionId: '019078743804756'
                    processor:
                      responseCode: '00'
                      responseMessage: APPROVED
                      authorizationCode: OK7118
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
      security:
        - Api-Key: []
      tags:
        - Payments
  '/payments/{transaction-id}':
    get:
      x-proxy-name: Transaction Inquiry
      summary: Retrieve the state of a transaction
      description: Use this query to get the current state of an existing transaction.
      operationId: transactionInquiry
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/TransactionIdParam'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0c80a3403e2c2def0-d-ea-28805-6810951-2
                    ipgTransactionId: '838916029301'
                    transactionType: SALE
                    transactionTime: 1518811817
                    approvedAmount:
                      total: 10.24
                      currency: USD
                    transactionStatus: APPROVED
                    schemeTransactionId: '019078743804756'
                    processor:
                      responseCode: '00'
                      responseMessage: APPROVED
                      authorizationCode: OK7118
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
      security:
        - Api-Key: []
      tags:
        - Payments
    patch:
      x-proxy-name: Finalize Secure Transaction
      operationId: finalizeSecureTransaction
      summary: Update a 3DSecure payment and continue processing.
      description: 'Use this to handle a 3DSecure redirect response authentication, updating the transaction and continuing processing.'
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/TransactionIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationUpdateRequest'
            examples:
              Example:
                value:
                  authenticationType: Secure3D21AuthenticationUpdateRequest
                  billingAddress:
                    address1: 5565 Glenridge Conn
                    city: Atlanta
                    postalCode: 30342
                    country: USA
                  securityCode: 123
                  merchantData: MD123...sdfk
                  payerAuthenticationResponse: c7fb83b8a...73t4a827t4af8738a
        required: true
        description: ''
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0c80a3403e2c2def0-d-ea-28805-6810951-2
                    ipgTransactionId: '838916029301'
                    transactionType: SALE
                    transactionTime: 1518811817
                    approvedAmount:
                      total: 10.24
                      currency: USD
                    transactionStatus: APPROVED
                    schemeTransactionId: '019078743804756'
                    processor:
                      responseCode: '00'
                      responseMessage: APPROVED
                      authorizationCode: OK7118
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
      tags:
        - Payments
    post:
      x-proxy-name: Secondary Transaction
      summary: Perform a secondary transaction
      description: 'Use this to perform a void, postAuth or return secondary transaction. Partial postAuths and returns are allowed.'
      operationId: submitSecondaryTransaction
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/TransactionIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      requestBody:
        $ref: '#/components/requestBodies/SecondaryTransaction'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecondaryTransaction'
            examples:
              Example:
                value:
                  requestType: ReturnTransaction
                  transactionAmount:
                    total: 3
                    currency: USD
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0c80a3403e2c2def0-d-ea-28805-6810951-2
                    ipgTransactionId: '838916029301'
                    transactionType: SALE
                    transactionTime: 1518811817
                    approvedAmount:
                      total: 10.24
                      currency: USD
                    transactionStatus: APPROVED
                    schemeTransactionId: '019078743804756'
                    processor:
                      responseCode: '00'
                      responseMessage: APPROVED
                      authorizationCode: OK7118
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
      tags:
        - Payments
  '/orders/{order-id}':
    post:
      x-proxy-name: Order-Based Secondary Transactions
      summary: Perform return or postAuth secondary transactions
      description: Use this to perform a postAuth or return secondary transaction using order ID. Partial postAuths and returns are allowed.
      operationId: submitSecondaryTransactionFromOrder
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
        $ref: '#/components/requestBodies/SecondaryTransaction'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecondaryTransaction'
            examples:
              Example:
                value:
                  requestType: ReturnTransaction
                  transactionAmount:
                    total: 3
                    currency: USD
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0c80a3403e2c2def0-d-ea-28805-6810951-2
                    ipgTransactionId: '838916029301'
                    transactionType: SALE
                    transactionTime: 1518811817
                    approvedAmount:
                      total: 10.24
                      currency: USD
                    transactionStatus: APPROVED
                    schemeTransactionId: '019078743804756'
                    processor:
                      responseCode: '00'
                      responseMessage: APPROVED
                      authorizationCode: OK7118
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
      tags:
        - Orders
    get:
      x-proxy-name: Order Inquiry
      summary: Retrieve the state of an order
      description: Use this query to get the current state of an existing order
      operationId: orderInquiry
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    responseType: Unauthenticated
                    orderId: '123456'
                    billing:
                      name: John Doe
                      customerId: '1234567890'
                      address:
                        address1: 123 Main St.
                        city: Sandy Springs
                        region: Georgia
                        postalCode: '30303'
                        country: USA
                    shipping:
                      name: John Doe
                      contact:
                        phone: '5555555555'
                        mobilePhone: '5555555555'
                        email: john@test.com
                      address:
                        address1: 123 Main St.
                        city: Sandy Springs
                        region: Georgia
                        postalCode: '30303'
                        country: USA
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
      security:
        - Api-Key: []
      tags:
        - Orders
  /payment-schedules:
    post:
      x-proxy-name: Schedule Creation
      summary: Create gateway payment schedule
      description: Use this to create a gateway payment schedule
      operationId: createPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        $ref: '#/components/requestBodies/PaymentSchedulesRequest'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSchedulesRequest'
            examples:
              Example:
                value:
                  requestType: PaymentMethodPaymentSchedulesRequest
                  startDate: '2020-11-16'
                  numberOfPayments: 10
                  maximumFailures: 1
                  invoiceNumber: '96126098'
                  purchaseOrderNumber: '123055342'
                  transactionOrigin: ECOM
                  dynamicMerchantName: MyWebsite
                  frequency:
                    every: 1
                    unit: MONTH
                  paymentMethod:
                    paymentCard:
                      number: '5426064000424979'
                      expiryDate:
                        month: '12'
                        year: '20'
                      securityCode: '147'
                      cardFunction: CREDIT
                  transactionAmount:
                    total: '25.24'
                    currency: GBP
                  clientLocale:
                    language: EN
                    country: USA
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    requestStatus: SUCCESS
                    orderId: ABC12345
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: The attempted action is not valid according to gateway rules.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          description: The endpoint declined the transaction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesErrorResponse'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - Api-Key: []
      tags:
        - Recurring
  '/payment-schedules/{order-id}':
    get:
      x-proxy-name: Schedule Inquiry
      summary: View a gateway payment schedule
      description: Use this to view an existing gateway payment schedule
      operationId: inquiryPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecurringPaymentDetailsResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    orderId: '123456'
                    billing:
                      name: John Doe
                      customerId: '1234567890'
                      contact:
                        email: John.Doe@example.com
                        phone: '5555555555'
                    storeId: '1109959991'
                    purchaseOrderNumber: '123055342'
                    invoiceNumber: '96126098'
                    creationDate: '2018-10-25'
                    startDate: '2018-10-25'
                    nextAttemptDate: '2018-10-25'
                    transactionAmount:
                      total: 10.5
                      currency: USD
                    frequency:
                      every: 3
                      unit: DAY
                    numberOfPayments: '10'
                    runCount: '3'
                    state: Installed
                    comments: This scheduled payment series is to pay for the thing
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - Api-Key: []
      tags:
        - Recurring
    delete:
      x-proxy-name: Schedule Cancel
      summary: Cancel a gateway payment schedule
      description: Use this to cancel an existing gateway payment schedule.
      operationId: cancelPaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
        - $ref: '#/components/parameters/StoreIdParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    requestStatus: SUCCESS
                    orderId: ABC12345
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Recurring
    patch:
      x-proxy-name: Schedule Update
      summary: Update a gateway payment schedule.
      description: Use this to update a gateway payment schedule.
      operationId: updatePaymentSchedule
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/OrderIdParam'
      requestBody:
        $ref: '#/components/requestBodies/PaymentSchedulesRequest'
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentSchedulesRequest'
            examples:
              Example:
                value:
                  requestType: PaymentMethodPaymentSchedulesRequest
                  startDate: '2020-11-16'
                  numberOfPayments: 10
                  maximumFailures: 1
                  invoiceNumber: '96126098'
                  purchaseOrderNumber: '123055342'
                  transactionOrigin: ECOM
                  dynamicMerchantName: MyWebsite
                  frequency:
                    every: 1
                    unit: MONTH
                  paymentMethod:
                    paymentCard:
                      number: '5426064000424979'
                      expiryDate:
                        month: '12'
                        year: '20'
                      securityCode: '147'
                      cardFunction: CREDIT
                  transactionAmount:
                    total: '25.24'
                    currency: GBP
                  clientLocale:
                    language: EN
                    country: USA
        description: ''
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentSchedulesResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    requestStatus: SUCCESS
                    orderId: ABC12345
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '422':
          $ref: '#/components/responses/EndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Recurring
  /payment-url:
    post:
      tags:
        - Payment URL
      x-proxy-name: URL Creation
      summary: Create a payment URL
      description: Use this to generate an embedding payment link.
      operationId: createPaymentUrl
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentUrlRequest'
            examples:
              Example:
                value:
                  transactionAmount:
                    total: '42.42'
                    currency: USD
                  transactionType: SALE
                  transactionNotificationURL: 'https://showmethepaymentresult.com'
                  expiration: '4102358400'
                  authenticateTransaction: true
                  dynamicMerchantName: MyWebsite
                  invoiceNumber: '96126098'
                  purchaseOrderNumber: '123055342'
                  ip: 264.31.73.24
          application/xml:
            schema:
              $ref: '#/components/schemas/PaymentUrlRequest'
            examples:
              Example:
                value:
                  transactionAmount:
                    total: '42.42'
                    currency: USD
                  transactionType: SALE
                  transactionNotificationURL: 'https://showmethepaymentresult.com'
                  expiration: '4102358400'
                  authenticateTransaction: true
                  dynamicMerchantName: MyWebsite
                  invoiceNumber: '96126098'
                  purchaseOrderNumber: '123055342'
                  ip: 264.31.73.24
        description: ''
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
    delete:
      tags:
        - Payment URL
      x-proxy-name: Delete URL
      summary: Delete a payment URL
      description: Use this to delete an embedding payment link
      operationId: deletePaymentUrl
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/StoreIdParam'
        - $ref: '#/components/parameters/TransactionIdQueryParam'
        - $ref: '#/components/parameters/OrderIdQueryParam'
        - $ref: '#/components/parameters/PaymentUrlIdQueryParam'
        - $ref: '#/components/parameters/TransactionTimeQueryParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    requestStatus: SUCCESS
                    orderId: '9723846'
                    paymentUrl: 'https://hyperlink-to-payment.com'
                    transactionId: '2381723322'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
    get:
      tags:
        - Payment URL
      x-proxy-name: URL Detail
      summary: Retrieve the state of payment URL
      description: Use this query to get the current state of an existing paymentURL
      operationId: paymentUrlDetail
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/StoreIdParam'
        - $ref: '#/components/parameters/OrderIdQueryParam'
        - $ref: '#/components/parameters/MerchantTransactionIdQueryParam'
        - $ref: '#/components/parameters/FromDateQueryParam'
        - $ref: '#/components/parameters/ToDateQueryParam'
        - $ref: '#/components/parameters/StatusQueryParam'
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentUrlDetailResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    paymentUrl: 'https://hyperlink-to-payment.com'
                    orderId: '9723846'
                    requestTime: '1518811817'
                    status: Created
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/GatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - Api-Key: []
  /payment-tokens:
    post:
      x-proxy-name: Token Creation
      operationId: createPaymentToken
      summary: Create a payment token from a payment card.
      description: Use this to create a payment token from a payment card.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PaymentCardPaymentTokenizationRequest'
                - $ref: '#/components/schemas/PaymentDevicePaymentTokenizationRequest'
                - $ref: '#/components/schemas/ReferencedOrderPaymentTokenizationRequest'
            examples:
              Example:
                value:
                  requestType: PaymentCardPaymentTokenizationRequest
                  paymentCard:
                    number: '4035874000424977'
                    expiryDate:
                      month: '12'
                      year: '20'
                    securityCode: '977'
                  billingAddress:
                    address1: 5565 Glenridge Conn
                    city: Atlanta
                    postalCode: '30342'
                    country: USA
                  createToken:
                    value: 234ljl124l12
                    reusable: true
                    declineDuplicates: false
                  accountVerification: true
        required: true
        description: ''
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    responseType: Unauthenticated
                    requestStatus: DELETED
                    requestTime: '1554308829345'
                    brand: VISA
                    country: Germany
                    paymentToken:
                      value: 234ljl124l12
                      reusable: true
                      declineDuplicates: false
                      last4: '4997'
                      brand: VISA
                      accountVerification: true
                      type: PAYMENT_CARD
                    paymentCard:
                      number: '5424180279791732'
                      expiryDate:
                        month: '03'
                        year: '21'
                      securityCode: '977'
                    processor:
                      referenceNumber: '117011573'
                      authorizationCode: OK1852
                      responseCode: '00'
                      network: DISC
                      associationResponseCode: '000'
                      responseMessage: APPROVAL
                      avsResponse:
                        streetMatch: NO_INPUT_DATA
                        postalCodeMatch: NO_INPUT_DATA
                        associationAvsResponse: 'Y'
                      securityCodeResponse: MATCHED
                    orderId: R-44df6542-ae0b-4415-88e8-7f3e62cc9e5d
                    ipgTransactionId: '838916029301'
                    merchantTransactionId: lsk23532djljff3
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PaymentTokenizationGatewayDeclined'
        '422':
          $ref: '#/components/responses/PaymentTokenizationEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - Api-Key: []
      tags:
        - Payment Token
    patch:
      x-proxy-name: Token Update
      operationId: updatePaymentToken
      summary: Update one or more payment tokens
      description: Use this update one or more payment tokens.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCardPaymentTokenUpdateRequest'
            examples:
              Example:
                value:
                  requestType: PaymentCardPaymentTokenUpdateRequest
                  storeId: '540995300'
                  paymentTokens:
                    - value: '1751905117310026'
                      reusable: true
                      declineDuplicates: false
                      paymentCard: null
                      number: '5424180279791732'
                      expiryDate:
                        month: '03'
                        year: '21'
                        securityCode: '977'
                    - value: 9877hkhk68688888ffgh
                      reusable: true
                      declineDuplicates: false
                      paymentCard:
                        number: '4012000033330026'
                        expiryDate:
                          month: '10'
                          year: '22'
                        securityCode: '123'
        required: true
        description: ''
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenUpdateResponse'
              examples: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/PaymentTokenizationGatewayDeclined'
        '422':
          $ref: '#/components/responses/PaymentTokenizationEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
        - Payment Token
  '/payment-tokens/{token-id}':
    get:
      tags:
        - Payment Token
      x-proxy-name: Get Token Source Details
      operationId: getPaymentTokenDetails
      summary: Get payment card details associated with token
      description: Get payment card details associated with token
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
        - $ref: '#/components/parameters/TokenIdParam'
        - name: storeId
          description: Store ID number
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    responseType: Unauthenticated
                    requestStatus: DELETED
                    requestTime: '1554308829345'
                    brand: VISA
                    country: Germany
                    paymentToken:
                      value: 234ljl124l12
                      reusable: true
                      declineDuplicates: false
                      last4: '4997'
                      brand: VISA
                      accountVerification: true
                      type: PAYMENT_CARD
                    paymentCard:
                      number: '5424180279791732'
                      expiryDate:
                        month: '03'
                        year: '21'
                      securityCode: '977'
                    processor:
                      referenceNumber: '117011573'
                      authorizationCode: OK1852
                      responseCode: '00'
                      network: DISC
                      associationResponseCode: '000'
                      responseMessage: APPROVAL
                      avsResponse:
                        streetMatch: NO_INPUT_DATA
                        postalCodeMatch: NO_INPUT_DATA
                        associationAvsResponse: 'Y'
                      securityCodeResponse: MATCHED
                    orderId: R-44df6542-ae0b-4415-88e8-7f3e62cc9e5d
                    ipgTransactionId: '838916029301'
                    merchantTransactionId: lsk23532djljff3
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - Api-Key: []
    delete:
      tags:
        - Payment Token
      x-proxy-name: Token Deletion
      operationId: deletePaymentToken
      summary: Delete a payment token
      description: Use this to delete a payment token.
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/ApiKeyParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
        - $ref: '#/components/parameters/AccessTokenParam'
        - $ref: '#/components/parameters/TokenIdParam'
        - name: storeId
          description: Store ID number
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentTokenizationResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    responseType: Unauthenticated
                    requestStatus: DELETED
                    requestTime: '1554308829345'
                    brand: VISA
                    country: Germany
                    paymentToken:
                      value: 234ljl124l12
                      reusable: true
                      declineDuplicates: false
                      last4: '4997'
                      brand: VISA
                      accountVerification: true
                      type: PAYMENT_CARD
                    paymentCard:
                      number: '5424180279791732'
                      expiryDate:
                        month: '03'
                        year: '21'
                      securityCode: '977'
                    processor:
                      referenceNumber: '117011573'
                      authorizationCode: OK1852
                      responseCode: '00'
                      network: DISC
                      associationResponseCode: '000'
                      responseMessage: APPROVAL
                      avsResponse:
                        streetMatch: NO_INPUT_DATA
                        postalCodeMatch: NO_INPUT_DATA
                        associationAvsResponse: 'Y'
                      securityCodeResponse: MATCHED
                    orderId: R-44df6542-ae0b-4415-88e8-7f3e62cc9e5d
                    ipgTransactionId: '838916029301'
                    merchantTransactionId: lsk23532djljff3
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
  /account-verification:
    post:
      x-proxy-name: Account Verification
      operationId: verifyAccount
      summary: Verify a payment card or payment token
      description: Use this to perform an account verification for a payment card or payment token
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              anyOf:
                - $ref: '#/components/schemas/PaymentCardVerificationRequest'
                - $ref: '#/components/schemas/PaymentTokenVerificationRequest'
            examples:
              Example:
                value:
                  requestType: PaymentCardVerificationRequest
                  paymentCard:
                    number: '4035874000424977'
                    expiryDate:
                      month: '12'
                      year: '20'
                    securityCode: '977'
                  billingAddress:
                    address1: 5565 Glenridge Conn
                    city: Atlanta
                    postalCode: '30342'
                    country: USA
        required: true
        description: ''
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInfoLookupResponse'
              examples:
                Example:
                  value:
                    cardDetails:
                      - brand: VISA
                        brandProductId: VISA BUSINESS
                        cardFunction: credit
                        commercialCard: CORPORATE
                        issuerCountry: DE
                        issuerName: First National Bank of Omaha
                    requestStatus: SUCCESS
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/TransactionGatewayDeclined'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '422':
          $ref: '#/components/responses/TransactionEndpointDeclined'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
      security:
        - Api-Key: []
      tags:
        - Account Verification
  /exchange-rates:
    post:
      tags:
        - Currency Conversion
      x-proxy-name: Currency Conversion Inquiry
      summary: Generate dynamic currency conversion transactions
      description: 'Sale, return and lookup exchange rate with dynamic currency conversion option.'
      operationId: getExchangeRate
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/DCCExchangeRateRequest'
                - $ref: '#/components/schemas/DynamicPricingExchangeRateRequest'
            examples:
              Example:
                value:
                  requestType: DCCExchangeRateRequest
                  baseAmount: '12.32'
                  bin: '411111'
        required: true
        description: ''
      responses:
        '200':
          description: Success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateResponse'
              examples:
                Example:
                  value:
                    clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
                    apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
                    requestTime: '2020-06-23T13:46:00.000+02:00'
                    exchangeRateDetails:
                      inquiryRateId: 49150
                      foreignCurrency: AUD
                      foreignAmount: 130.33
                      exchangeRate: 1.2968
                      dccOffered: 'true'
                      exchangeRateSourceTimestamp: '2015-06-23T13:46:00.000+02:00'
                      expirationTimestamp: '2015-06-23T13:46:00.000+02:00'
                      marginRatePercentage: '3'
                      exchangeRateSourceName: REUTERS WHOLESALE INTERBANK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
        '502':
          $ref: '#/components/responses/EndpointCommunicationError'
      security:
        - Api-Key: []
  /account-information:
    post:
      x-proxy-name: Account Info Lookup
      summary: Lookup account information
      description: Use this to look up card related information associated with a payment card or payment token.
      operationId: lookupAccount
      parameters:
        - $ref: '#/components/parameters/ContentTypeParam'
        - $ref: '#/components/parameters/ClientRequestIdParam'
        - $ref: '#/components/parameters/TimestampParam'
        - $ref: '#/components/parameters/MessageSignatureParam'
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/PaymentCardInfoLookupRequest'
                - $ref: '#/components/schemas/PaymentTokenInfoLookupRequest'
            examples:
              Example:
                value:
                  requestType: PaymentCardInfoLookupRequest
                  paymentCard:
                    number: '4149011500000147'
        description: ''
        required: true
      responses:
        '200':
          description: Success response.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CardInfoLookupResponse'
                  - $ref: '#/components/schemas/PaymentTokenInfoLookupRequest'
              examples:
                Example:
                  value:
                    cardDetails:
                      - brand: VISA
                        brandProductId: VISA BUSINESS
                        cardFunction: credit
                        commercialCard: CORPORATE
                        issuerCountry: DE
                        issuerName: First National Bank of Omaha
                    requestStatus: SUCCESS
        '400':
          $ref: '#/components/responses/BadRequest'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/ServerError'
      security:
        - Api-Key: []
      tags:
        - Account Information
components:
  parameters:
    ContentTypeParam:
      name: Content-Type
      schema:
        type: string
        enum:
          - application/json
        default: application/json
      in: header
      required: true
      description: Content type.
    ClientRequestIdParam:
      name: Client-Request-Id
      schema:
        type: string
      in: header
      required: true
      description: 'A client-generated ID for request tracking and signature creation, unique per request.  This is also used for idempotency control. We recommend 128-bit UUID format.'
    ApiKeyParam:
      name: Api-Key
      schema:
        type: string
      in: header
      required: true
      description: Key given to merchant after boarding associating their requests with the appropriate app in Apigee.
    TimestampParam:
      name: Timestamp
      schema:
        type: integer
        format: int64
      in: header
      required: true
      description: Epoch timestamp in milliseconds in the request from a client system. Used for Message Signature generation and time limit (5 mins).
    MessageSignatureParam:
      name: Message-Signature
      schema:
        type: string
      in: header
      required: true
      description: 'Used to ensure the request has not been tampered with during transmission. The Message-Signature is the Base64 encoded HMAC hash (SHA256 algorithm with the API Secret as the key.) For more information, refer to the supporting documentation on the Developer Portal.'
      x-link:
        name: How to Create Message Signature
        link: 'https://docs.firstdata.com/org/gateway/node/394'
    AccessTokenParam:
      name: Authorization
      description: 'The access token previously generated with the access-tokens call. Use the format ''Bearer {access-token}''.'
      schema:
        type: string
      in: header
      required: false
    TransactionIdParam:
      name: transaction-id
      schema:
        type: string
      in: path
      required: true
      description: Gateway transaction identifier as returned in the parameter ipgTransactionId or merchantTransactionId.
    TransactionIdQueryParam:
      name: transactionId
      schema:
        type: string
      in: query
      required: false
      description: Gateway transaction identifier as returned in the parameter ipgTransactionId or merchantTransactionId.
    OrderIdParam:
      name: order-id
      schema:
        type: string
      in: path
      required: true
      description: Gateway order identifier as returned in the parameter orderId.
    OrderIdQueryParam:
      name: orderId
      schema:
        type: string
      in: query
      required: false
      description: Gateway order identifier as returned in the parameter orderId.
    PaymentUrlIdQueryParam:
      name: paymentUrlId
      schema:
        type: string
      in: query
      required: false
      description: The ID code from the payment URL.
    MerchantTransactionIdQueryParam:
      name: merchantTransactionId
      schema:
        type: string
      in: query
      required: false
      description: Gateway merchant identifier as returned in the parameter merchantTransactionId.
    FromDateQueryParam:
      name: fromDate
      schema:
        type: string
      in: query
      required: true
      description: The start date for payment URL in seconds since epoch.
    ToDateQueryParam:
      name: toDate
      schema:
        type: string
      in: query
      required: true
      description: The end date for payment URL search query in seconds since epoch.
    StatusQueryParam:
      name: status
      schema:
        type: string
      in: query
      required: false
      description: The status of payment URL.
    StoreIdParam:
      name: storeId
      schema:
        type: string
      in: query
      required: false
      description: An optional outlet ID for clients that support multiple stores in the same developer app.
    StoreIdPathParam:
      name: storeId
      schema:
        type: string
      in: path
      required: true
      description: An optional outlet ID for clients that support multiple stores in the same developer app.
    TerminalIdQueryParam:
      name: terminalId
      schema:
        type: string
        pattern: '[0-9A-Za-z]{1,8}'
      in: query
      required: false
      description: The terminal ID identifies a terminal.
    TraceNumberQueryParam:
      name: traceNumber
      schema:
        type: integer
        format: int32
        minimum: 0
        maximum: 999999
      in: query
      required: false
      description: The trace number being used for the clearing process.
    TokenIdParam:
      name: token-id
      schema:
        type: string
      in: path
      required: true
      description: Identifies a payment token.
    TransactionTimeQueryParam:
      name: transactionTime
      schema:
        type: string
      in: query
      required: false
      description: The transaction time in seconds since epoch.
    TokenIdentifierQueryParam:
      name: tokenIdentifier
      schema:
        type: string
      in: query
      required: false
      description: An optional token identifier which indicates the blocked card number.
    DomainQueryParam:
      name: domain
      schema:
        type: string
      in: query
      required: false
      description: An optional domain name which indicates the blocked domain.
    NameQueryParam:
      name: name
      schema:
        type: string
      in: query
      required: false
      description: An optional name which indicates the blocked name.
    IpAddressQueryParam:
      name: ipAddress
      schema:
        type: string
      in: query
      required: false
      description: An optional IP address which indicates the blocked IP address.
    ConnectModeQueryParam:
      name: connectMode
      schema:
        type: string
        enum:
          - Classic
          - Combined
      in: query
      required: true
      description: The type of connect mode.
  responses:
    BadRequest:
      description: The request cannot be validated.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthenticated:
      description: The request cannot be authenticated or was submitted with the wrong credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: The request was unauthorized.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    UnsupportedMediaType:
      description: Format that is not supported by the server for the HTTP method.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: The requested resource doesn't exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServerError:
      description: An unexpected internal server error occurred.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    EndpointCommunicationError:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    GatewayDeclined:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    EndpointDeclined:
      description: There was a problem communicating with the endpoint.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    TransactionGatewayDeclined:
      description: 'The attempted action is not valid according to gateway rules. For example, the merchant is not set-up or the order already exists.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionErrorResponse'
    TransactionEndpointDeclined:
      description: The processor declined the transaction.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionErrorResponse'
    PaymentTokenizationGatewayDeclined:
      description: 'The attempted action is not valid according to gateway rules. For example, when the gateway is too busy then the transaction is not processed.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentTokenizationErrorResponse'
    PaymentTokenizationEndpointDeclined:
      description: The processor declined the transaction.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentTokenizationErrorResponse'
  requestBodies:
    SecondaryTransaction:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SecondaryTransaction'
      required: true
      description: 'Accepted request types: PostAuthTransaction, VoidTransaction, VoidPreAuthTransactions, ReturnTransaction, AchPostAuthTransaction, AchVoidTransaction and AchReturnTransaction.'
    PaymentSchedulesRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentSchedulesRequest'
      required: true
      description: 'Accepted request types: PaymentMethodPaymentSchedulesRequest and ReferencedOrderPaymentSchedulesRequest.'
    AuthenticationVerificationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthenticationUpdateRequest'
      required: true
  schemas:
    WalletPaymentMethodContaining:
      description: Interface for classes that contain walletPaymentMethod field.
      x-is-interface: true
      required:
        - walletPaymentMethod
      properties:
        walletPaymentMethod:
          $ref: '#/components/schemas/WalletPaymentMethod'
    PaymentTokenPaymentMethodContaining:
      description: Interface for classes that contain the field paymentMethod with a PaymentTokenPayment method object.
      x-is-interface: true
      required:
        - paymentMethod
      properties:
        paymentMethod:
          $ref: '#/components/schemas/PaymentTokenPaymentMethod'
    RestApiRequest:
      description: Marker interface for all REST API request objects.
      x-is-interface: true
      required:
        - requestType
      properties:
        requestType:
          description: 'Request object name, used to discriminate which object the request body is resolved to.'
          type: string
    TraceIdContaining:
      description: Interface for classes which contain trace ids.
      x-is-interface: true
      properties:
        clientRequestId:
          description: Contract that class contains clientRequestId.
          type: string
        apiTraceId:
          description: Contract that class contains apiTraceId.
          type: string
    ErrorContaining:
      description: Interface for classes which contain error object.
      x-is-interface: true
      allOf:
        - $ref: '#/components/schemas/TraceIdContaining'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    SettlementSplitContaining:
      description: Interface for requests that contain split settlement information.
      x-is-interface: true
      required:
        - transactionAmount
      properties:
        transactionAmount:
          $ref: '#/components/schemas/Amount'
        settlementSplit:
          $ref: '#/components/schemas/SettlementSplit'
    TransactionAmountContaining:
      description: Interface for requests containing transaction amount information.
      x-is-interface: true
      properties:
        transactionAmount:
          $ref: '#/components/schemas/Amount'
    PaymentDevicePaymentMethodContaining:
      description: Interface for classes that contain PaymentDevicePaymentMethod field.
      x-is-interface: true
      allOf:
        - $ref: '#/components/schemas/RestApiRequest'
        - type: object
          required:
            - paymentMethod
          properties:
            paymentMethod:
              $ref: '#/components/schemas/PaymentDevicePaymentMethod'
    DisbursementContaining:
      description: Interface for classes containing a Disbursement field.
      x-is-interface: true
      allOf:
        - $ref: '#/components/schemas/RestApiRequest'
        - type: object
          required:
            - disbursement
          properties:
            disbursement:
              $ref: '#/components/schemas/Disbursement'
    OrderContaining:
      description: Interface for classes containing order details.
      x-is-interface: true
      properties:
        order:
          $ref: '#/components/schemas/Order'
    AuthenticationContaining:
      description: Interface for classes containing an authentication (3DS) field.
      x-is-interface: true
      properties:
        authenticationRequest:
          $ref: '#/components/schemas/AuthenticationRequest'
        authenticationResult:
          $ref: '#/components/schemas/AuthenticationResult'
    BasicResponse:
      description: Contains apiTraceId and clientRequestId shared in all response types.
      properties:
        clientRequestId:
          description: Echoes back the value in the request header for tracking.
          type: string
          example: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId:
          description: 'Request identifier in API, can be used to request logs from the support team.'
          type: string
          example: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        responseType:
          $ref: '#/components/schemas/ResponseType'
    ErrorResponse:
      description: Response containing an error object.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    TransactionErrorResponse:
      description: Transaction response with error field included.
      allOf:
        - $ref: '#/components/schemas/TransactionResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    PaymentUrlErrorResponse:
      description: Payment URL response with error field included.
      allOf:
        - $ref: '#/components/schemas/PaymentUrlResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    PaymentSchedulesErrorResponse:
      description: Payment schedules response with error field included.
      allOf:
        - $ref: '#/components/schemas/PaymentSchedulesResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    PaymentTokenizationErrorResponse:
      description: Payment tokenization response with error field included.
      allOf:
        - $ref: '#/components/schemas/PaymentTokenizationResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    OrderErrorResponse:
      description: Order response with error field included.
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - properties:
            error:
              $ref: '#/components/schemas/Error'
    OrderResponse:
      description: Common object for primary and secondary payment request responses.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            orderId:
              description: 'Client order ID if supplied by client, otherwise the order ID.'
              type: string
              example: '123456'
            billing:
              $ref: '#/components/schemas/Billing'
            shipping:
              $ref: '#/components/schemas/Shipping'
            transactions:
              description: 'Required for some payment methods (for example, Klarna).'
              type: array
              items:
                $ref: '#/components/schemas/TransactionResponse'
              example:
                - transactionState: AUTHORIZED
                  ipgTransactionId: '838916029301'
                  transactionType: SALE
                  transactionAmount:
                    total: 10.24
                    currency: USD
                  storeId: '1109959991'
            additionalDetails:
              $ref: '#/components/schemas/AdditionalDetails'
          example:
            orderId: '123456'
            billing:
              name: John Doe
              customerId: '1234567890'
              address:
                address1: 123 Main St.
                city: Sandy Springs
                region: Georgia
                postalCode: '30303'
                country: USA
            shipping:
              name: John Doe
              contact:
                phone: '5555555555'
                mobilePhone: '5555555555'
                email: john@test.com
              address:
                address1: 123 Main St.
                city: Sandy Springs
                region: Georgia
                postalCode: '30303'
                country: USA
    PaymentTokenUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              description: The status of the request.
              type: string
              enum:
                - FAILED
                - SUCCESS
                - PARTIAL_SUCCESS
              example: APPROVED
            requestTime:
              description: Time of the request.
              type: integer
              format: int64
              example: '1554308829345'
            errors:
              type: array
              items:
                $ref: '#/components/schemas/Error'
          example:
            requestStatus: PARTIAL_SUCCESS
            requestTime: '1554308829345'
            errors:
              details:
                - message: 'HOSTED_DATA_ID4773410890807324. Invalid credit card number: CreditCard [cardNumber=4773410...7324, expirationMonth=12, expirationYear=2026'
                - message: 'HOSTED_DATA_ID4773410888998888. Invalid credit card number: CreditCard [cardNumber=4773410...8888, expirationMonth=12, expirationYear=2026'
      x-examples: {}
    PaymentTokenizationResponse:
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              description: The status of the request.
              type: string
              enum:
                - DELETED
                - FAILED
                - SUCCESS
                - APPROVED
                - WAITING
                - VALIDATION_FAILED
                - DECLINED
              example: DELETED
            requestTime:
              description: Time of the request.
              type: integer
              format: int64
              example: '1554308829345'
            brand:
              description: Card brand.
              type: string
              example: VISA
            country:
              description: Country of the card issued.
              type: string
              example: Germany
            paymentToken:
              $ref: '#/components/schemas/PaymentTokenDetails'
            paymentCard:
              $ref: '#/components/schemas/PaymentCard'
            processor:
              $ref: '#/components/schemas/ProcessorData'
            orderId:
              description: 'Client order ID if supplied by client, otherwise the order ID.'
              type: string
              example: R-44df6542-ae0b-4415-88e8-7f3e62cc9e5d
            ipgTransactionId:
              description: The response transaction ID.
              type: string
              maxLength: 14
              example: '838916029301'
            merchantTransactionId:
              description: 'The unique merchant transaction ID from the request header, if supplied.'
              type: string
              maxLength: 40
              example: lsk23532djljff3
          example:
            requestStatus: DELETED
            requestTime: '1554308829345'
            brand: VISA
            country: Germany
            paymentToken:
              value: 234ljl124l12
              reusable: true
              declineDuplicates: false
              last4: '4997'
              brand: VISA
              accountVerification: true
              type: PAYMENT_CARD
            paymentCard:
              number: '5424180279791732'
              expiryDate:
                month: '03'
                year: '21'
              securityCode: '977'
            processor:
              referenceNumber: '117011573'
              authorizationCode: OK1852
              responseCode: '00'
              network: DISC
              associationResponseCode: '000'
              responseMessage: APPROVAL
              avsResponse:
                streetMatch: NO_INPUT_DATA
                postalCodeMatch: NO_INPUT_DATA
                associationAvsResponse: 'Y'
              securityCodeResponse: MATCHED
            orderId: R-44df6542-ae0b-4415-88e8-7f3e62cc9e5d
            ipgTransactionId: '838916029301'
            merchantTransactionId: lsk23532djljff3
    PaymentSchedulesResponse:
      description: Response from the gateway scheduler creation call.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              description: 'Result of requested operation. If it''s anything other than ''SUCCESS'', please refer to 400s HTTP error codes or decline. See Error object for details.'
              type: string
              enum:
                - SUCCESS
                - VALIDATION_FAILED
                - PROCESSING_FAILED
                - FAILURE
                - DECLINED
              example: SUCCESS
            orderId:
              description: 'Client order ID if supplied by client, otherwise the order ID.'
              type: string
              example: '123456'
            transactionResponse:
              description: Contains the details of the transaction if the schedule and transaction were created at the same time.
              $ref: '#/components/schemas/TransactionResponse'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        requestStatus: SUCCESS
        orderId: ABC12345
    RecurringPaymentDetailsResponse:
      description: Order response containing recurring payment details.
      allOf:
        - $ref: '#/components/schemas/OrderResponse'
        - properties:
            recurringPaymentDetails:
              $ref: '#/components/schemas/RecurringPaymentDetails'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        orderId: '123456'
        billing:
          name: John Doe
          customerId: '1234567890'
          contact:
            email: John.Doe@example.com
            phone: '5555555555'
        storeId: '1109959991'
        purchaseOrderNumber: '123055342'
        invoiceNumber: '96126098'
        creationDate: '2018-10-25'
        startDate: '2018-10-25'
        nextAttemptDate: '2018-10-25'
        transactionAmount:
          total: 10.5
          currency: USD
        frequency:
          every: 3
          unit: DAY
        numberOfPayments: '10'
        runCount: '3'
        state: Installed
        comments: This scheduled payment series is to pay for the thing
    ExchangeRateResponse:
      description: Exchange rate response.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            ipgTransactionId:
              description: The response transaction ID.
              type: string
              example: '838916029301'
            requestTime:
              description: 'Time of the request. The used format is "yyyy-MM-dd''T''HH:mm:ss.SSSXXX".'
              type: string
              example: '2018-12-05T14:13:00.000-05:00'
            exchangeRateDetails:
              $ref: '#/components/schemas/ExchangeRateDetails'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        requestTime: '2020-06-23T13:46:00.000+02:00'
        exchangeRateDetails:
          inquiryRateId: 49150
          foreignCurrency: AUD
          foreignAmount: 130.33
          exchangeRate: 1.2968
          dccOffered: 'true'
          exchangeRateSourceTimestamp: '2015-06-23T13:46:00.000+02:00'
          expirationTimestamp: '2015-06-23T13:46:00.000+02:00'
          marginRatePercentage: '3'
          exchangeRateSourceName: REUTERS WHOLESALE INTERBANK
    PaymentUrlResponse:
      description: Response from an embedded payment link request.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            requestStatus:
              type: string
              enum:
                - SUCCESS
                - VALIDATION_FAILED
                - PROCESSING_FAILED
                - FAILURE
              description: 'Request status. If it is anything other than ''SUCCESS'', please refer to 400s HTTP error codes or decline. See Error object for details.'
              example: SUCCESS
            orderId:
              type: string
              description: 'Client order ID if supplied by client, otherwise the order ID.'
              example: '123456'
            paymentUrl:
              description: URL for embedded payment link.
              type: string
              example: 'https://api.firstdata.com/connect/gateway/processing?storename=123456789&oid=R-96cdbaa4-c22e-4598-a2f1-c2b5fed79ef1&paymentUrlId=d3eb74fe-cf63-47e1-b89f-52ba0cc7965c'
            transactionId:
              type: string
              description: ID code from the transaction.
              example: '123978432'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        requestStatus: SUCCESS
        orderId: '9723846'
        paymentUrl: 'https://hyperlink-to-payment.com'
        transactionId: '2381723322'
    PaymentUrlDetailResponse:
      description: Response from an embedded payment link request.
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            paymentUrlDetails:
              description: Array of payment URL details.
              type: array
              items:
                $ref: '#/components/schemas/PaymentUrlDetail'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0bd552c12342d3448-b-ea-1142-12938318-7
        paymentUrl: 'https://hyperlink-to-payment.com'
        orderId: '9723846'
        requestTime: '1518811817'
        status: Created
    TransactionResponse:
      description: Common object for primary and secondary payment request responses
      allOf:
        - $ref: '#/components/schemas/BasicResponse'
        - properties:
            ipgTransactionId:
              description: The response transaction ID.
              type: string
              example: '838916029301'
            orderId:
              description: 'Client order ID if supplied by client, otherwise the order ID.'
              type: string
              example: '123456'
            transactionType:
              $ref: '#/components/schemas/TransactionType'
            paymentToken:
              $ref: '#/components/schemas/PaymentTokenDetails'
            transactionOrigin:
              $ref: '#/components/schemas/TransactionOrigin'
            paymentMethodDetails:
              $ref: '#/components/schemas/PaymentMethodDetails'
            country:
              description: Country of the card issuer.
              type: string
              example: USA
            terminalId:
              description: The terminal that is processing the transaction.
              type: string
              example: '123456'
            merchantId:
              description: The unique (on Acquirer level) mechant ID. Usually this value has been chosen from the merchant itself and will be used in communication with the endpoint.
              type: string
              maxLength: 30
              example: '199950008'
            merchantTransactionId:
              description: 'The unique merchant transaction ID from the request header, if supplied.'
              type: string
              maxLength: 40
              example: lsk23532djljff3
            transactionTime:
              description: The transaction time in seconds since epoch.
              type: integer
              format: int64
              example: '1518811817'
            approvedAmount:
              $ref: '#/components/schemas/Amount'
            transactionStatus:
              description: Represents the status of a transaction immediately following the original processing request. This value is not stored for the transaction and is only available in the response when the transaction is processed. TransactionStatus is not returned on either the transaction inquiry or on the order inquiry.
              type: string
              enum:
                - APPROVED
                - WAITING
                - VALIDATION_FAILED
                - PROCESSING_FAILED
                - DECLINED
              example: APPROVED
            transactionState:
              description: Shows the state of the current transaction.
              type: string
              enum:
                - AUTHORIZED
                - CAPTURED
                - DECLINED
                - CHECKED
                - COMPLETED_GET
                - INITIALIZED
                - PENDING
                - READY
                - TEMPLATE
                - SETTLED
                - VOIDED
                - WAITING
              example: AUTHORIZED
            secure3dResponse:
              $ref: '#/components/schemas/Secure3dResponse'
            redirectURL:
              description: The endpoint redirection URL.
              type: string
              example: 'http://pay.issuer-bank.com/sessionID=123&sharedKey=456'
            authenticationResponse:
              $ref: '#/components/schemas/Secure3DAuthenticationResponse'
            schemeTransactionId:
              description: The transaction ID received from schemes for the initial transaction of card on file flows.
              type: string
              maxLength: 40
              example: '019078743804756'
            processor:
              $ref: '#/components/schemas/ProcessorData'
            additionalDetails:
              $ref: '#/components/schemas/AdditionalTransactionDetails'
            accountUpdaterResponse:
              $ref: '#/components/schemas/AccountUpdaterResponse'
            achResponse:
              $ref: '#/components/schemas/AchResponse'
            currencyConversionResponse:
              $ref: '#/components/schemas/CurrencyConversionResponse'
      example:
        clientRequestId: 30dd879c-ee2f-11db-8314-0800200c9a66
        apiTraceId: rrt-0c80a3403e2c2def0-d-ea-28805-6810951-2
        ipgTransactionId: '838916029301'
        transactionType: SALE
        transactionTime: 1518811817
        approvedAmount:
          total: 10.24
          currency: USD
        transactionStatus: APPROVED
        schemeTransactionId: '019078743804756'
        processor:
          responseCode: '00'
          responseMessage: APPROVED
          authorizationCode: OK7118
    RecurringPaymentDetails:
      description: Details about existing gateway schedule.
      properties:
        storeId:
          description: Store ID number.
          type: string
          maxLength: 20
          example: '1109959991'
        purchaseOrderNumber:
          description: Purchase order number.
          type: string
          example: '123055342'
        invoiceNumber:
          description: Invoice number.
          type: string
          example: '96126098'
        creationDate:
          description: Date recurring payment was created.
          type: string
          example: '2018-10-25'
        startDate:
          description: Date of mandate signature.
          type: string
          example: '2018-10-25'
        nextAttemptDate:
          description: Date of next transaction process attempt.
          type: string
          example: '2018-10-25'
        transactionAmount:
          $ref: '#/components/schemas/Amount'
        paymentMethodDetails:
          $ref: '#/components/schemas/PaymentMethodDetails'
        frequency:
          $ref: '#/components/schemas/Frequency'
        numberOfPayments:
          description: Number of times the recurring payment will process.
          type: integer
          format: int32
          minimum: 1
          maximum: 999
          example: 10
        runCount:
          description: Times the recurring payment has already run.
          type: integer
          format: int32
          minimum: 0
          maximum: 999
          example: 10
        state:
          description: State of the recurring payment.
          type: string
          enum:
            - Installed
            - Inactivated
            - Cancelled
          example: Installed
        comments:
          description: User supplied comments.
          type: string
          example: This scheduled payment series is to pay for the thing.
      example:
        storeId: '1109959991'
        invoiceNumber: '96126098'
        creationDate: '2018-10-25'
        startDate: '2018-10-25'
        transactionAmount:
          total: 10.24
          currency: USD
        frequency:
          every: 3
          unit: DAY
        numberOfPayments: 10
        runCount: 3
        state: Installed
        comments: This scheduled payment series is to pay for the thing.
    PaymentMethodPaymentSchedulesRequest:
[...]
